{{- if not (.Page.Scratch.Get "katex") -}}
<!-- Include katext only first time -->
<link rel="stylesheet" href="{{ "katex/katex.min.css" | relURL }}" />
<script defer src="{{ "katex/katex.min.js" | relURL }}"></script>
<script src="{{ "katex/def.js" | relURL }}" ></script>
<script defer src="{{ "katex/auto-render.min.js" | relURL }}" onload="renderMathInElement(document.body, {macros});"></script>
<style type="text/css">
	.katex {
		font-size: 1.25em;
	}
</style>
{{- .Page.Scratch.Set "katex" true -}}
{{- end -}}

<span {{- with .Get "class" }} class="{{ . }}"{{ end }}>
  {{ cond (in .Params "display") "\\[" "\\(" -}}
  {{- trim .Inner "\n" -}}
  {{- cond (in .Params "display") "\\]" "\\)" }}
</span>
